<div class="mat-elevation-z8">
  <form class="display-flex justify-content-center form-field-gap">
    <mat-form-field appearance="fill">
      <mat-label>Search</mat-label>
      <input matInput [formControl]="searchControl" cdkFocusInitial>
    </mat-form-field>
  </form>
  <table mat-table class="full-width" matSort aria-label="Elements">

    <ng-container matColumnDef="pubmedID">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>PubMed ID</th>
      <td mat-cell *matCellDef="let row">{{row['pubmedID']}}</td>
    </ng-container>

    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Creation Date</th>
      <td mat-cell *matCellDef="let row">{{row['creationDate'].slice(0, 10)}}</td>
    </ng-container>

    <ng-container matColumnDef="fullAuthorEdited">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Authors</th>
      <td mat-cell *matCellDef="let row">{{formatAuthors(row['fullAuthorEdited'])}}</td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Publication</th>
      <td mat-cell *matCellDef="let row">
        <a href="https://pubmed.ncbi.nlm.nih.gov/{{row['pubmedID']}}/" target="_blank">{{row.title}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="journalTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Journal</th>
      <td mat-cell *matCellDef="let row">{{row['journalTitle']}}</td>
    </ng-container>

    <ng-container matColumnDef="termFreq">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>SNOMED Terms (n)</th>
      <td mat-cell *matCellDef="let row">
        <a>{{row.termFreq}}</a>
      </td>
    </ng-container>

    <ng-container matColumnDef="numCitations">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Citation Count</th>
      <td mat-cell *matCellDef="let row">{{row['numCitations']}}</td>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator #paginator
      [length]="(count | async)"
      [pageIndex]="0"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 20]"
      aria-label="Select page">
  </mat-paginator>
</div>
