.toolbar {
  position: fixed;
  z-index: 99;
  top: 0;
  background-color: rgba(0, 0, 0, 0) !important;
}

.breadcrumb {
  display: flex;
  align-items: center;
}

.home {
  margin: 0;
}

.home {
  display: none;
}

.content {
  /* margin: 128px 64px 64px 64px; */
}

.content-small {
  /* margin: 128px 16px 16px 16px; */
}