<div class="margin-24">
  <mat-tab-group 
  #tabs
  preserveContent
  color="accent" backgroundColor="primary" class="not-full-height outline"
  >
    <mat-tab label="Funding">
      <ng-template matTabContent>
        <lib-funding-table></lib-funding-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Call for Papers">
      <ng-template matTabContent>
        <app-cfp-table></app-cfp-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Collaborations">
      <ng-template matTabContent>
        <app-collaboration-table></app-collaboration-table>
      </ng-template>
    </mat-tab>
    <mat-tab label="Events">
      <ng-template matTabContent>
        <app-event-table></app-event-table>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>

