# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
dist
tmp
out-tsc
bazel-out

# Node
node_modules/
npm-debug.log
yarn-error.log
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.env
projects/plots/config.py
projects/plots/blueprints/en_ner_bc5cdr_md/
projects/plots/blueprints/key_vault.py
*.core
core.*

# System files
.DS_Store
Thumbs.db

# Python
__pycache__/
.__pycache__/
.pyc
*.egg-info
.pytest_cache

# Firebase
.firebase
*-debug.log
.runtimeconfig.json
