.venv
.vscode
__pycache__/
/handlers/__pycache__/
.__pycache__
.pyc
community_dashboard/handlers/key_vault.py
community_dashboard/__pycache__
community_dashboard/handlers/__pycache__
community_dashboard/config.py
community_dashboard/handlers/en_ner_bc5cdr_md/
tempNewArticle.csv
.DS_Store
