.mat-column-NAME {
  max-width: 300px;
}

.mat-column-SPONSOR-S- {
  max-width: 300px;
}

.mat-column-LOCATION-S- {
  max-width: 300px;
}

.mat-column-EVENT-DATE-S- {
  max-width: 200px;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-detail-row {
  height: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
  white-space: break-spaces;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-column-expand {
  width: 10px;
  padding: 0;
}

.detail {
  max-width: 300px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 16px;
}