<mat-tab-group 
  #tabs
  preserveContent
  (selectedTabChange)="renderPlots()"
  color="accent" backgroundColor="primary" class="not-full-height outline"
>

  <mat-tab label="Study Pipeline">
    <ng-template matTabContent>
      <div class="flex-container flex-direction-column">
        <div #countsPlot class="align-self-center plot-margin-top"></div>
        <div>
          <!-- <mat-selection-list [formControl]="countMetricsControl">
            <mat-list-option *ngFor="let m of countMetrics; index as i" [value]="m">
              <div class="flex-container">
                <div [style]="'background: '+scheme(i)" class="legend-choice-box"></div>
                <div class="mat-caption">{{m}}</div>
              </div>
            </mat-list-option>
            <mat-list-option disabled>
              <div class="flex-container">
                <div [style]="'background: '+scheme(2)" class="legend-choice-box"></div>
                <div class="mat-caption">new studies per month (last 3 months)</div>
              </div>        
            </mat-list-option>
          </mat-selection-list> -->
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Study Cadence">
    <ng-template matTabContent>
      <div class="flex-container flex-direction-column">
        <pre>{{studyProgressSummary}}</pre>
        <div #studyCadencePlot class="align-self-center plot-margin-top"></div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>MinDays</mat-label>
            <input matInput [formControl]="cadenceMinDaysControl" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>MaxDays</mat-label>
            <input matInput [formControl]="cadenceMaxDaysControl" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>buckets</mat-label>
            <input matInput [formControl]="cadenceBucketsControl" required>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>epanechnikov bandwidth</mat-label>
            <input matInput [formControl]="cadenceBandwidthControl" required>
          </mat-form-field>
          <!-- <mat-selection-list [formControl]="daysMetricsControl">
            <mat-list-option *ngFor="let m of daysMetrics; index as i" [value]="m">
              <div class="flex-container">
                <div [style]="'background: '+scheme(i)" class="legend-choice-box"></div><div>{{m}}</div>
              </div>
            </mat-list-option>
            <mat-list-option disabled>
              <div class="flex-container">
                <div [style]="'background: '+scheme(1)" class="legend-choice-box"></div>
                <div>avg. days at stage</div>
              </div>        
            </mat-list-option>
            <mat-list-option disabled>
              <div class="flex-container">
                <div [style]="'background: '+scheme(2)" class="legend-choice-box"></div>
                <div>avg. time to complete (cumulative)</div>
              </div>        
            </mat-list-option>
          </mat-selection-list> -->
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Timeline">
    <ng-template matTabContent>
      <div class="flex-container flex-direction-column">
        <div #timelineCountsPlot class="align-self-center plot-margin-top"></div>
        <div>
          <label>Moving 30 Day Averages</label>
          <mat-selection-list [formControl]="timelineMetricsControl">
            <mat-list-option value="updatesLast30">
              <div class="flex-container">
                <div [style]="'background: '+scheme(0)" class="legend-choice-box"></div>
                <div>updates</div>
              </div>
            </mat-list-option>
            <mat-list-option value="activeStudiesLast30">
              <div class="flex-container">
                <div [style]="'background: '+scheme(1)" class="legend-choice-box"></div>
                <div>active studies</div>
              </div>
            </mat-list-option>
            <mat-list-option value="newStudiesLast30">
              <div class="flex-container">
                <div [style]="'background: '+scheme(2)" class="legend-choice-box"></div>
                <div>new studies</div>
              </div>
            </mat-list-option>
            <mat-list-option value="studiesStartedLast30">
              <div class="flex-container">
                <div [style]="'background: '+scheme(3)" class="legend-choice-box"></div>
                <div>studies started</div>
              </div>
            </mat-list-option>
            <mat-list-option value="designFinalizedLast30">
              <div class="flex-container">
                <div [style]="'background: '+scheme(4)" class="legend-choice-box"></div>
                <div>design finalized</div>
              </div>
            </mat-list-option>
            <mat-list-option value="resultsAvailableLast30">
              <div class="flex-container">
                <div [style]="'background: '+scheme(5)" class="legend-choice-box"></div>
                <div>results available</div>
              </div>
            </mat-list-option>
            <mat-list-option value="studiesCompletedLast30">
              <div class="flex-container">
                <div [style]="'background: '+scheme(6)" class="legend-choice-box"></div>
                <div>studies completed</div>
              </div>
            </mat-list-option>
          </mat-selection-list>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Study Progress">
    <ng-template matTabContent>
      <div class="flex-container flex-direction-column">
        <div #studyProgress class="align-self-center plot-margin-top"></div>
        <div>
          <mat-form-field appearance="fill">
            <mat-label>Search</mat-label>
            <input matInput [formControl]="studyProgressSearchControl" required cdkFocusInitial>
          </mat-form-field>
        </div>
        <div class="display-flex">
          <mat-form-field appearance="fill">
            <mat-label>MaxDays</mat-label>
            <input matInput [formControl]="studyProgressMaxDaysControl" required>
          </mat-form-field>
          <mat-selection-list [formControl]="studyProgressControl" class="progress-option-width">
            <mat-list-option [value]="'logScale'">
              <div class="flex-container">
                <div class="mat-caption">Log Scale</div>
              </div>        
            </mat-list-option>
            <!-- <mat-list-option *ngFor="let m of countMetrics; index as i" [value]="m">
              <div class="flex-container">
                <div [style]="'background: '+scheme(i)" class="legend-choice-box"></div>
                <div class="mat-caption">{{m}}</div>
              </div>
            </mat-list-option>
            <mat-list-option disabled>
              <div class="flex-container">
                <div [style]="'background: '+scheme(2)" class="legend-choice-box"></div>
                <div class="mat-caption">new studies per month (last 3 months)</div>
              </div>        
            </mat-list-option> -->
          </mat-selection-list>
        </div>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Study Leads">
    <ng-template matTabContent>
      <div #studyLeadsPlot></div>
      <app-study-leads-table></app-study-leads-table>
    </ng-template>
  </mat-tab>

  <mat-tab label="Exceptions">
    <ng-template matTabContent>
      <div #exceptionsPlot></div>
      <app-study-exceptions-table></app-study-exceptions-table>
    </ng-template>
  </mat-tab>

</mat-tab-group>