<mat-card class="full-height" appearance="outlined">
  <div class="headline">
    <mat-card-header class="absolute">
      <mat-card-title class="header-text headline-title">YouTube</mat-card-title>
      <mat-card-subtitle class="header-text headline-subtitle">
        Analysis
      </mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="/assets/orange-texture.png" class="full-width"> -->
    <div mat-card-image class="full-width aspect-16-9 hero"></div>
  </div>
  <mat-card-content class="full-height">
    <p>
      Youtube Tracking leverages the Google YouTube Data API and highlights videos released across the OHDSI Youtube Channels. These videos are intended to serve two purposes: 1) provide users a great source of training on learning how to conduct observational research. 2) keep our community aware of the latest activities within our open science community. Searches for new videos are performed daily.
    </p>
  </mat-card-content>
</mat-card>