<div class="grid-container">
  <mat-grid-list [cols]="12" rowHeight="150" gutterSize="24" class="margin-24">
    <mat-grid-tile *ngFor="let tile of (layout | async)!.tiles; index as i;"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
    >
      <div class="full-shadow-margin">
        <ng-template [cdkPortalOutlet]="tile.portal" (attached)="setInputs($event, tile.inputs)"></ng-template>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
    <app-phenotype-explorer-table-component></app-phenotype-explorer-table-component>
</div>
