<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <title>OHDSI - Engine of Impact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename = 'favicon.ico') }}">
    <title>{% block title %}{% endblock %}</title>
    <style>
      .main {
        margin-left: 320px; /* Same as the width of the sidenav */
      }
      .footer {
        margin-left: 320px; /* Same as the width of the sidenav */
      }
      .topnav {
        height: 100%;
        width: 320px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #20425A;
        overflow-x: hidden;
        padding-top: 15%;
      }

      .topnav a {
        padding: 6px 6px 6px 32px;
        text-decoration: none;
        font-size: 25px;
        font-family: 'Saira Extra Condensed';
        color: #fff;
        display: block;
      }

      .topnav a:hover {
        color: #f1f1f1;
      }
    </style>
  </head>
  <body style="overflow-y: hidden; overflow-x: hidden;">

    <div >
      <nav class="navbar navbar-expand-lg" style="background-color: #20425A; color: #f1f1f1;">
          <a>
            <span class="d-none d-lg-block">
              <img class="img-fluid mx-auto mb-2" style="width: 250px; height: 60px; padding-left: 0px; padding-right: 20px;" src="/static/ohdsi_logo.png" alt="">
            </span>
          </a>
          <a class="navbar-brand" href="/" style="color: #f1f1f1;"> OHDSI Engine of Impact</a>
          <button  class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto" >
              <li class="nav-item active">
                <a class="nav-link" href="/" style="color: #f1f1f1;">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" style="color: #f1f1f1;">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: #f1f1f1;">
                  Dashboards
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="/publication_dashboard/">OHDSI Publication Tracker</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="/education_dashboard/">OHDSI Education Content Tracker</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"  style="color: #f1f1f1;">About Us</a>
              </li>
            </ul>
            <div class="btn-group ml-auto dropleft">
                <a class="nav-link" href="/auth/sign_in"  style="color: #f1f1f1;">Sign In</a>
            </div>
          </div>
      </nav>
      
      <!-- <div class="topnav" style="text-align: center;">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <span class="d-none d-lg-block">
            <img class="img-fluid mx-auto mb-2" src="/static/ohdsi_logo.png" alt="">
          </span>
        </a>
        
          <ul class="navbar-nav" style="font-family: 'Saira Extra Condensed';">
            <li class="nav-item">
              <h4>
                <cdm-source-name class="text-white">OHDSI Engine of Impact</cdm-source-name>
              </h4>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/">Overview</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/publication_dashboard">Publication Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger " href="/education_dashboard">Education Analysis</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="/auth/sign_in">Sign In</a>
            </li>
          </ul>
        
      </div> -->
    </div>
    
    <!-- <div style="font-family: 'Saira Extra Condensed'; overflow-x: hidden;"> -->
      <div style="height: 100vh;">
        {% block body %}{% endblock %}

      </div>

      
      <footer id="footer">
        {% block footer%}{% endblock %}
      </footer>
    <!-- </div> -->
   
    {% block flash_messages %}{% endblock %}
    <script>
      $(document).ready(function(){
          // Show hide popover
          $(".nav-item").click(function(){
              $(this).find(".dropdown-menu").slideToggle("fast");
          });
      });
      $(document).on("click", function(event){
          var $trigger = $(".nav-item");
          if($trigger !== event.target && !$trigger.has(event.target).length){
              $(".dropdown-menu").slideUp("fast");
          }            
      });
  </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>  
  </body>
</html>