<mat-card class="full-height" appearance="outlined">
  <div class="headline">
    <mat-card-header class="absolute">
      <mat-card-title class="header-text headline-title">Welcome!</mat-card-title>
      <mat-card-subtitle class="header-text headline-subtitle">
        About the OHDSI<br>Community Dashboard
      </mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="/assets/orange-texture.png" class="full-width"> -->
    <div mat-card-image class="full-width aspect-16-9 hero"></div>
  </div>
  <mat-card-content class="full-height">
    <p>
      Observational Health Data Sciences and Informatics (OHDSI) is an open science community. OHDSI's mission is to improve health by empowering a community to collaboratively generate the evidence that promotes better health decisions and better care. The OHDSI Community Dashboard is a tool to highlight the progress we are making toward this mission and the collective accomplishments and impact of our community. A goal of the dashboard is help our community identify how members can see the OHDSI eco-system as an interconnected system to make a larger impact. We hope you find these tools useful staying up to date with all the activities in OHDSI as well as finding new colleagues in our community to collaborate with. Dashboards are developed to represent various aspects of the OHDSI community activities.
    </p>
  </mat-card-content>
</mat-card>