<mat-card class="full-height" appearance="outlined">
  <div class="headline">
    <mat-card-header class="absolute">
      <mat-card-title class="header-text headline-title">Network Studies</mat-card-title>
      <p style="color: white">
        <!-- [...A brief about network studies.] -->
      </p>
    </mat-card-header>
    <!-- <img mat-card-image src="/assets/orange-texture.png" class="full-width"> -->
    <div mat-card-image class="full-width aspect-16-9 hero"></div>
  </div>
  <mat-card-content class="full-height">
    <div class="flex-container flex-wrap flex-basis-min-content">
      <mat-list-item *ngFor="let m of completionMetrics|async" class="width-unset" style="min-width: 150px">
        <span matListItemTitle class="metric">{{m.value}}</span>
        <span matListItemLine>{{m.name}}</span>
      </mat-list-item>
    </div>
  </mat-card-content>
</mat-card>