.headline {
  position: relative;
  margin-bottom: 12px;
}

.absolute {
  position: absolute;
  bottom: 8px;
  z-index: 1;
}

.verbage-position {
  position: absolute;
  bottom: 0;
  margin-right: 16px;
}